<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
    <div class="alert alert-success" align="center">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong><%= notice %></strong>

    </div>
<% end %>
<% if alert %>
    <div class="alert alert-warning" align="center">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong><%= alert %></strong>

    </div>
<% end %>
      
<%= yield %>

</body>
</html>
